* { margin: 0; padding: 0; box-sizing: border-box;}
#parameters { border-top: 1px solid gray; padding: 8px; position: fixed; bottom: 0; width: 100%; }
#admin, #bShowAnswer, #clientAnswer, #bUserWrong, #bUserTrue, #bNext { display : none;}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
.btn-xl {
	padding: 10px 20px;
	font-size: 2em;
	border-radius: 10px;
}
#time {
	font-size: 5em;
}
h2 {text-transform: uppercase;}
.bgFaster {
	background-color: #f0f8ff;
}
.bgBlock {
	background-color: #ffcccc;
}
.bgGood {
	background-color: #cceecc;
}
